:root {
    --bg-color: #ffcfc1;
    --button-color: rgb(69, 11, 77);
}

body {
    background: var(--bg-color);
    padding: 0;
    margin: auto;
    padding: 80px 50px;
    max-width: 750px;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 25px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0 0 0;
}

.image {
    width: 600px;
    height: 450px;
    background: url("../best-woomans/images/image6.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 30px;
}

.button {
    font-size: 80px;
    color: var(--button-color);
}

@media (max-width:650px) {
        .image {
            margin: 0;
            align-self: stretch;
            order: 1;
        }

        .header-title {
            font-size: 35px;
        }

        .button {
            align-self: flex-end;
            order: 2;
            font-size: 60px;
        }

        .slider {
            justify-content: space-around;
            flex-wrap: wrap;
        }

        body {
            padding: 0 20px;
        }

    }